[Unit]
Description=IQRF daemon iqrf_startup
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/usr/bin
ExecStart=/usr/bin/iqrf_startup /etc/iqrf-daemon/config.json
ExecStopPost=/usr/bin/tracefile_add_timestamp.sh
StandardOutput=syslog
StandardError=syslog
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
